body{
    background: white;
	/* background-image : url("fondecran.jpg");*/
	background-size: cover;
}

.header {
  overflow: hidden;
  padding: 20px 10px;
  background-color : rgba(224, 224, 224, 0.3);
  font-size : 25px;
}

.logo{
	float : left;
	font-family: Impact, Charcoal;
	color : orangeRed;
	text-decoration: none;
	font-size: 50px;
}

.main{
	background-color : white;	
	margin-left : 10%; 
	margin-right : 10%;
	position : relative;
}

.headerRight{
	float : right;
}

.search{
	position : absolute;
	right : 0px;
	height : 40px; 
	width : 200px;

}
/*
.textHeader{
	font-size : 25px;
}
*/







.menu div{
	display : inline-block;
	
}

.menu{
	background-color: #333;
	height : 40px;
}


.ul_menu_questions{
	list-style: none;
	margin : 0;
	padding : 0;
	font-family : Impact;
	font-size:33px;
	
	
}

.ul_menu_questions li{
	display : inline-block;
	border-right: 1px solid #bbb;
}

.ul_menu_questions li a{
	text-decoration : none;
	color : black;
}

.ul_menu_questions li a.current{
	color : yellow;
}

.ul_menu_questions li a:hover{
	text-decoration : none;
	color : black;
	background-color : white;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}







.questions{
	background-color : red;
	list-style: none;
	margin : 0;
	padding : 0;
}

.questions li{
	border: 1px solid #bbb;
	margin : 0;
	
}


/*     Sign in     */

.mainlogin{
	background-color: green;
	margin-left : 35%;
	margin-right : 35%;
	border-style : inset;
	padding-bottom : 15px;
	padding-left : 10px;
}

.title{
	text-align: center;
}





/* Ask Question   */

.mainAsk{
	color : black;
	font-size: 25px;
}


.mainAsk input[type=text], textarea{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.mainAsk label {
display: block;
margin-bottom: 10px;
}


.mainAsk textarea{
	height : 200px;
}

.mainAsk input[type=submit]{
	height : 25px;
	width : 10%;
	color : white;
	background-color : rgb(27, 79, 8);
}

.errors{
	color : red;
	font-size: 20px;
}




/*  Question page */

.Post{
	position : relative;
	padding-bottom : 5%;
}

.titleQuestion{
	font-size : 70px;
	margin-bottom: 0px;
}

.asked{
	border-bottom : 3px solid;
	font-size : 15px;
}

.body{
	font-size : 25px;
}

.score{
	text-align : center;
}

.vote{
	width : 3%;
	position :absolute ;
	top : 7%;
	left : 1%;
	background-color : green;
}

.rightSide{
	margin-left : 5%;
}

.comment{
	margin-left : 8%;
}


/* page Delete*/

.mainDelete{
	color : red;
	background-color : green;
	margin-left : 30%;
	margin-right : 30%;
	text-align : center;
}

.errorsEdit{
	color : red;
}

/* page edit*/

.mainEdit input[type=text], textarea{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.mainEdit textarea{
	height : 200px;
}


/*  Tag   */

.mainTag table{
	width : 100%;
	text-align:left;
}
